<table width="100%">
    <tbody>
        <tr>
            <td class="footer_key_colm">
                <span class="light">SUBTOTAL</span>
            </td>
            <td class="footer_val_colm">
                <span>${{data.sub_total}}</span>
            </td>
        </tr>
        <tr>
            <td class="footer_key_colm">
                <span class="light">TAX</span>
            </td>
            <td class="footer_val_colm">
                <span>${{data.tax}}</span>
            </td>
        </tr>
        <tr>
            <td class="footer_key_colm">
                <span class="light" style="font-size: large;">TOTAL</span>
            </td>
            <td class="footer_val_colm">
                <span>${{data.total}}</span>
            </td>
        </tr>
    </tbody>
</table>