<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>invoice</title>
    <link rel="icon"
        href="https://previews.123rf.com/images/urfandadashov/urfandadashov1808/urfandadashov180823632/108991034-invoice-vector-icon-isolated-on-transparent-background-invoice-logo-concept.jpg">
    <link rel="stylesheet" href="{{href}}">
</head>

<body>
    {{{body}}}
</body>

</html>