<div class="mu-logo-watermark-wrapper">
    <img src="{{data.company_details.company_logo}}" alt="watermark" class="mu-logo-watermark">
</div>

<div class="grid_container_invoice">
    <div class="grid_header">
        {{> details}}
    </div>
    <div class="grid_body">
        {{> body-table}}
    </div>
    <div class="grid_footer">
        {{> total}}
    </div>
</div>